# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# env
.env

# Virtual enviromnment
venv/
.venv/
env/

# IDEs
.vscode/
.idea/
.DS_Store

# Test
.pytest_cache/
.coverage
htmlcov/